body {
  background-color: white;
  font-family: 'Segoe UI', SegoeUI, 'Noto Sans', sans-serif;
  font-size: 12px;
  background:  center/100% url("mainbg-2.jpg");
  padding: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
font-size: 12px;
padding: 4px;
}

h2{
  padding-bottom: 10px;
}

[role="tabpanel"]{
background: #bdf7f1;
background: -moz-linear-gradient(top,  #bdf7f1 0%, #dbfbf8 53%, #f6fefd 100%);
background: -webkit-linear-gradient(top,  #bdf7f1 0%,#dbfbf8 53%,#f6fefd 100%);
background: linear-gradient(to bottom,  #bdf7f1 0%,#dbfbf8 53%,#f6fefd 100%);
}

/* footer{
  background: #000000 url("taskbar.png") repeat-x scroll 0 0;
  height: 30px;
  margin: 0px;
} */

img.start{
  position: relative;
  bottom: 12px;
}

table{
  font-size: 12px;
}

/* li{
  vertical-align: text-top;
} */

nav{

}