@font-face
{
  font-family: 'Study Clash'; font-weight: normal; font-style: normal; font-stretch: normal; src: url('../fonts/Study\ Clash.otf'); font-display: swap;
}

* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  box-sizing:border-box;
}

body {
  background: #bc2731;
  font-family: 'Study Clash', helvetica neue, helvetica, arial, sans-serif;
  font-weight:200;
}

#notebook-paper {
  width:1000px;
  height:1109px;
  background: linear-gradient(to bottom,white 29px,#00b0d7 1px);
  margin:50px auto;
  background-size: 100% 30px;
  position:relative;
  padding-top:150px;
  padding-left:160px;
  padding-right:40px;
  overflow:hidden;
  border-radius:5px;
  -webkit-box-shadow:3px 3px 3px rgba(0,0,0,.2),0px 0px 6px rgba(0,0,0,.2);
  -moz-box-shadow:3px 3px 3px rgba(0,0,0,.2),0px 0px 6px rgba(0,0,0,.2);
  -ms-box-shadow:3px 3px 3px rgba(0,0,0,.2),0px 0px 6px rgba(0,0,0,.2);
  -o-box-shadow:3px 3px 3px rgba(0,0,0,.2),0px 0px 6px rgba(0,0,0,.2);
  box-shadow:3px 3px 3px rgba(0,0,0,.2),0px 0px 6px rgba(0,0,0,.2);
  &:before {
    content:'';
    display:block;
    position:absolute;
    z-index:1;
    top:0;
    left:140px;
    height:100%;
    width:1px;
    background:#db4034;
  }
  header {
    height:150px;
    width:100%;
    background:white;
    position:absolute;
    top:0;
    left:0;
    h1 {
      font-size:80px;
      line-height:22px;
      padding:87px 20px 0 160px;
    }
  }
  #content {
    margin-top:66px;
    font-size:25px;
    line-height:30px;
    p {
      margin:0 0 30px 0;
    }
  }
  #image {
    padding-left: auto;
  }
}

.mdrs236 {
  background: url("../img/mars-bg2.png");
  background-size: cover;
  background-attachment: fixed;
}