body {
    /* background-color: #e7dac5; */
    /* background-color: #282524; */
    background: linear-gradient(90deg, #e7dac5 50%, #331c1d 50%);
    font-family: 'Segoe UI', SegoeUI, 'Noto Sans', sans-serif;
    font-size: 12px;
    /* opacity: 0;
    transition: opacity .5s; */
  }

h1 {
    text-align: center;
    font-family: 'Nasalization'; font-weight: normal; font-style: normal; font-stretch: normal; src: url('../fonts/Nasalization Rg.otf');
    font-size: 600%;
}

.stripe-container {
    position: relative;
    top: 0;
    left: 35%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin: 0%;
    transition: 1s ease-out;
  }
  
.stripe-container:hover {
    left: 33.5%;
}

  .stripe {
    position: relative;
    top: 0;
    /* left: 35.5%; */
    left: 0;
    height: 100%;
    width: 5%;
    /* margin: 0% 0.25%; */
    /* transform: translateX(100%); */
    transition: 1s ease-out;
    
  }

  .stripe:hover {
    width: 8%;
    
  }

  #E {
    background-color: #f1d736;
  }

  #X {
    background-color: #ed8f31;
  }

  #T {
    background-color: #e87931;
  }

  #R {
    background-color: #eb682e;
  }
  
  #A {
    background-color: #e94d2e;
  }

  #S {
    background-color: #e64e76;
  }

  /* .X:hover {
    position: fixed;
    left: 40.5%;
  } */