@font-face {
  font-family: "Nasalization";
  font-weight: normal; font-style: normal; font-stretch: normal; src: url('../fonts/Nasalization.otf');
}

@font-face
{
    font-family: 'CQ Mono'; font-weight: normal; font-style: normal; font-stretch: normal; src: url('../fonts/CQ Mono.otf'); font-display: swap;
}

body {
    /* background-color: #e7dac5; */
    /* background-color: #282524; */
    background: linear-gradient(90deg, #e7dac5 50%, #331c1d 50%);
    font-family: 'Segoe UI', SegoeUI, 'Noto Sans', sans-serif;
    font-size: 12px;
    margin: 0;
    /* opacity: 0;
    transition: opacity .5s; */
  }

h1 {
    text-align: center;
    font-family: 'Nasalization';
    font-size: 2.71vw;
    color: black;
    margin: auto;
    position: relative;
    top: 42%;
}

h2 {
    text-align: center;
    font-family: 'Nasalization';
    font-size: 2.71vw;
    letter-spacing: 10%;
    color: #331c1d;
    margin: auto;
    letter-spacing: -0.2em;
    writing-mode: vertical-lr;
    text-orientation: upright;
    position: relative;
    vertical-align: middle;
}

.invis {
  opacity: 0%;
  transition: 0.6s ease-out;
}

h2 span {
  transition: 0.8s ease-out;
}

.test {
  /* display: inline-block; */
  text-align: center;
  font-family: 'Nasalization';
  font-size: 2.71vw;
  letter-spacing: 10%;
  color: #331c1d;
  margin: auto;
  letter-spacing: -0.2em;
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.center {
  /* margin: 0; */
  position: absolute;
  /* top: 50%; */
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.stripe-container {
  position: relative;
  top: 0;
  left: 35%;
  height: 100vh;
  width: 30%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  margin: 0%;
  transition: 0.8s ease-out;
}

.stripe-container.unlocked:hover {
  left: 33.5%;
  width: 33%;
}

.stripe {
  position: relative;
  top: 0;
  /* left: 35.5%; */
  left: 0;
  height: 100%;
  width: 16.666667%;
  /* margin: 0% 0.25%; */
  /* transform: translateX(100%); */
  transition: 0.8s ease-out;
  
}

.stripe.unlocked:hover {
  width: 24.242424%;
  
}

.stripe.unlocked.side:hover {
  width: 8%;
}

.stripe.unlocked:hover h1 {
  opacity: 100%;
}

.stripe.unlocked:hover h2 {
  opacity: 100%;
}

.stripe.unlocked:hover span {
  opacity: 100%;
}

.main {
  width: 100%;
}

.side {
  width: 4%;
}

.mainpage {
  opacity: 0%;
  transition: 0.4s ease-out;
  text-align: center;
  overflow-y: auto;
  max-height: 100%;
}

.mainpage.loaded {
  opacity: 100%;
}

.mainpage.loaded.invis {
  opacity: 0%;
}

.content {
  margin: auto;
  padding: 3% 5% 5% 5%;
}

.border {
  border-left: 1.5em solid #e7dac5;
  border-top: 1.5em solid #e7dac5;
  border-right: 1.5em solid #331c1d;
  border-bottom: 1.5em solid #331c1d;
}

.Etext {
  transition: 0.6s ease-out;
}

.Xtext {
  transition: 0.6s ease-out;
}

.Ttext {
  transition: 0.6s ease-out;
}

.Rtext {
  transition: 0.6s ease-out;
}

.Atext {
  transition: 0.6s ease-out;
}

.Stext {
  transition: 0.6s ease-out;
}

#E {
  background-color: #f1d736;
  /* opacity: 50%; */
}

#X {
  background-color: #ed8f31;
  /* opacity: 50%; */
}

#T {
  background-color: #e87931;
  /* opacity: 50%; */
}

#R {
  background-color: #eb682e;
  /* opacity: 50%; */
}

#A {
  background-color: #e94d2e;
  /* opacity: 50%; */
}

#S {
  background-color: #e64e76;
  /* opacity: 50%; */
}

.E-focus {
  width: 82%;
  left: 15.8335%;
}

.X-focus {
  width: 82%;
  left: 13.1003%;
}

.T-focus {
  width: 82%;
  left: 10.3671%;
}

.R-focus {
  width: 82%;
  left: 7.63395%;
}

.A-focus {
  width: 82%;
  left: 4.9008%;
}

.S-focus {
  width: 82%;
  left: 2.1676%;
}

.fadeIn-block {
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  25% { opacity: 0; }
  100% { opacity: 1; }
}

.blog {
  width: 90%;
  margin: 1em;
  text-align: left;
}

.blog-header {
  background-color: #331c1d;
  color: #e7dac5;
  border-radius: 0.5em 0.5em 0 0;
  padding: 0.5em 1.2em 0.5em 1.2em;
  font-family: 'Nasalization';
}

.blog-header .title {
  font-size: 3em;
  line-height: 1.5em;
  display: inline;
  font-weight: 750;
}

 .blog-header .date {
  white-space: nowrap;
  font-size: 1.4em;
  font-weight: 600;
}

.blog-header .date::before {
  content: "|";
  margin-left: 0.2em;
  margin-right: 0.38em;
}

.blog-body{
  background-color: #e7dac5;
  color: #331c1d;
  border-radius: 0 0 0.5em 0.5em;
  padding: 1em;
}

.blog-body p {
  font-size: 1.2em;
  font-family:'CQ Mono';
  padding: 0;
  margin: auto;
}

.left {
  position: relative;
  float: left;
}

.right {
  position: relative;
  float: right;
}

.blog-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  text-align: center;
  background-color: #331c1d;
  border: 0.3em solid #331c1d;
  transition: 0.3s;
}

.blog-img:hover {
  filter: brightness(70%);
}